.hidden {display:none}
fieldset {border: 1px solid blue; padding-left: 40px; padding-right: 20px}
legend {width: auto;text-align: left !important; padding: 10px; color:blue}
fieldset.sub_block {border: 1px solid black; margin:-20px 0px 20px -15px}
fieldset.sub_block legend {color: black}
