    :root {
      --highlight-color: #FFB806;
    }

    body {
      margin: 0;
      font-family: 'Switzer', sans-serif;
      font-weight: 500;
      font-size: 16px;
      background-color: #000;
      color: white;
      display: flex;
      height: 100vh;
    }

    h4 {
	font-size: 16px;
    }

	table {border: 1px solid var(--highlight-color); width:100%;}
	table th {padding-left: 20px; text-align: left; color: var(--highlight-color); width: 25%;}
	table td {padding-left: 20px; text-align:left; width: 25%;}

.progress-box {
	max-width: 300px;
	margin: auto;
	text-align: center;
	align-items: center;
	border: 2px solid #41464f;
	padding: 30px 30px 0px 30px;
	border-radius: 20px;
}
.progress-container-shadow {
    width: 300px;
    height: 40px;
    background-color: var(--highlight-color);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin: 40px auto 0px auto;
}
.progress-container-shadow::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.progress-container {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin: 0px;
    top:-45px;
    left:5px;
}
.progress-bar {
    height: 100%;
    background-color: var(--highlight-color);
    width: 0%;
    border-radius: 5px;
    transition: width 0.3s ease;
    position: relative;
}
.progress-text {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #000000;
    z-index: 10;
}
.progress-title {
	text-align: left;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}
.progress-description {
	text-align: left;
	font-size: 16px;
	margin-bottom: 10px;
	color: #999;
	min-height: 40px;
}
.controls {
    text-align: center;
}

    .sidebar {
      width: 250px;
      background-color: #101214;
      display: flex;
      flex-direction: column;
      /*height: 100vh;*/
      justify-content: space-between;
      margin: 20px;
      border-radius: 20px;
      transition: width 0.3s;
    }

.sidebar-top {
      padding: 20px 0px 0px 0px;
	overflow-y: auto;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center; /* ez teszi középre függőlegesen a menüt */
}

    .logo {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    .logo img {
      height: 40px;
    }

    .loading {
	text-align:center;
	margin-top:300px;
    }

    .confirm {
	border: 2px solid #41464f;
	border-radius: 10px;
	margin-top:250px;
	padding: 20px;
	font-size: 16px;
	color: #999;
	line-height: 1.5;
    }

    .menu {
      display: flex;
      flex-direction: column;
      justify-content: center; /* középre igazít függőlegesen */
      flex-grow: 1;
      gap: 5px;
      padding: 0 10px;
    }

    .vpn-item {
      display: flex;
      align-items: center;
      gap: 10px;
      color: white;
      transition: color 0.3s;
    }

    .menu-item {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px 20px;
      cursor: pointer;
      color: white;
      transition: color 0.3s;
    }

    .menu-item:hover {
      color: var(--highlight-color);
    }

    .menu-item i {
      font-size: 18px;
    }

    .menu-item span {
      display: inline;
    }

    .menu-item img {
      width: 24px;
    }

    .menu-item.active {
      background-color: var(--highlight-color);
      color: black;
      border-radius: 10px;
      font-weight: bold;
    }

    .menu-item.active:hover {
      color: black;
    }

.menu-item span.arrow {
  margin-left: auto;
  color: gray;
  font-size: 20px;
  transition: transform 0.3s ease;
}

.menu-item.open .arrow {
  transform: rotate(180deg);
}

.submenu {
  display: none;
  margin-left: 40px;
  flex-direction: column;
  margin-bottom: 10px;
}

.submenu-item {
  padding: 5px 14px;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
}

.submenu-item:hover {
  color: #000000;
  background-color: var(--highlight-color);
}


/* Switch container */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px;
}

/* Hide native checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider background */
.slider-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 8px;
  transition: background-color 0.3s;
  display: flex !important;
  align-items: center;
  justify-content: flex-end; /* default: OFF on the right */
  padding: 0 8px;
  font-size: 12px;
  font-weight: bold;
  color: #000;
}

/* Circle */
.slider-text::before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  left: 2px;
  top: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

/* Checked: move dot, change background and text alignment */
.switch input:checked + .slider-text {
  background-color: var(--highlight-color);
  justify-content: flex-start;
}

/* Dot animation */
.switch input:checked + .slider-text::before {
  transform: translateX(34px);
}


/* Status label */
.status-label {
  font-size: 12px;
  color: #888;
  min-width: 28px;
  text-align: left;
}

    .details {
      color: white;
      text-decoration: none;
    }

    .yellow-row {
	flex-shrink: 0;
	max-width:250px;
	display: flex;
	align-items: flex-start;
	box-sizing: border-box;
        margin: 0px;
	width: 100%;
	padding: 0px 20px 20px 20px;
    }

    .yellow-box {
      background-image: url('img/yellow-box.png');
      background-repeat: no-repeat;
      /*background-color: var(--highlight-color);
      border-radius: 20px 20px 0px 20px;*/
      color: black;
      text-align: left;
      margin: 0px;
      padding: 20px 18px;
      font-weight: bold;
      font-size: 12px;
      width: 156px;
      height: 176px;
    }

    .yellow-corner {
	padding:0px;
	border: 0px;
	display: flex;
	margin: 0px;
	margin-top: auto;
	align-items: flex-end;
    }

.pro-text {
	font-size: 16px;
	color: black;
}

    .grey-box {
      background-image: url('img/grey-box.svg');
      background-repeat: no-repeat;
 /*     border: 2px solid #41464f;  */
      border-radius: 20px 20px 0px 20px;
      color: #999;
      text-align: left;
      margin: 0px;
      padding: 20px 18px;
      font-weight: bold;
      font-size: 12px;
      width: 158px;
      height: 178px;
    }

.vpn-text {
	display: flex;
	align-items: center;  /* Ez igazítja középre függőlegesen a tartalmat */
	gap: 10px;            /* Távolság kép és szöveg között (opcionális) */
	font-size: 16px;
	color: var(--highlight-color);
	cursor: pointer;
	padding: 3px 0px 0px 20px;
}

    .main {
      flex: 1;
      padding: 30px;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
    }

	#appsContainer {
	  display: flex;
	  flex-wrap: wrap;
	  gap: 15px;
	  padding: 0px;
      	  max-width: 1300px;
	}

	.app {
	  border: 1px solid #41464f;
	  border-radius: 15px;
	  text-align: left;
	  padding: 20px;
	  width: 130px;
	  min-height: 200px;
	  text-align: left;
	  display: flex;
	  flex-direction: column;
	  align-items: left;
	}

	.app-img {
	  padding: 0px;
	}

	.app img {
	  border-radius: 15px;
	  background-color: #101214;
	  width: 70px;
	  height: 70px;
	  object-fit: contain;
	  margin-bottom: 20px;
	  padding: 30px;
	}

	.app-label {
	  font-size: 10px;
	  color: #cccccc;
	  margin-bottom: 10px;
	  align-items: left;
	  text-align: left;
	}

	.app-name {
	  font-size: 16px;
	  font-weight: bold;
	  margin-bottom: 30px;
	}

	.more-btn {
	  background-color: inherit;
	  color: #cccccc;
	  border: 1px solid #cccccc;
	  border-radius: 10px;
	  padding: 10px 20px;
	  font-size: 16px;
	  font-weight: 400;
	  cursor: pointer;
	  width: 100%;
	  font-weight: bold;
	}

	.more-btn:hover {
	  color: var(--highlight-color);
	  border: 1px solid var(--highlight-color);
	}

	.app-details {
		padding: 0px 50px;
	}

	.app-fields {
	  border: 1px solid #41464f;
	  border-radius: 15px;
	  text-align: left;
	  padding: 20px;
	  margin: 30px 0px 10px 0px;
	  display: flex;
	  flex-direction: column;
	  align-items: left;
	}

	.app-fields .row {
            display: flex;
	      justify-content: space-between;
	      align-items: center;
	      padding: 5px 20px;
	      border-radius: 10px;
	      gap: 10px;
	}

	#letsencrypt {
		padding-top: 20px;
	}

.header-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0px;
}

.logo-and-text {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.applogo img {
  border-radius: 15px;
  background-color: #101214;
  width: 70px;
  height: 70px;
  object-fit: contain;
  padding: 40px;
}

.text-content {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.subtitle {
  font-size: 18px;
  margin: 4px 0;
  color: #999;
}

.description {
  font-size: 16px;
  margin: 20px 0 0;
  color: #999;
  line-height: 1.5;
}

.notification-btn {
      background-color: var(--highlight-color);
      color: black;
      border: none;
      padding: 10px 20px;
      border-radius: 10px;
      cursor: pointer;
      font-weight: bold;
      display: flex;
      align-items: center;
      gap: 10px;
}

    .main-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px;
      margin-bottom: 30px;
      max-width: 1294px;
    }

    .main-header h1 {
      margin: 0;
      font-size: 28px;
    }

    .main-header .buttons {
	display: flex;
	gap: 20px;
    }

    .main-header button {
      display: flex;
      padding: 10px 20px;
      background-color: black;
      border: 1px solid #999;
      border-radius: 10px;
      color: #999;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      margin-top: 10px;
      align-self: flex-start;
      align-items: center;
      gap: 10px;
    }

    .main-header button:hover {
      border: 1px solid #f5c300;
      color: #f5c300;
    }

    .input-row, .input-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #41464f;
      padding: 15px 20px;
      margin-bottom: 15px;
      border-radius: 10px;
      gap: 10px;
    }

    .input-container {
      display: flex;
      align-items: center;
      gap: 5px;
      flex: 1;
      justify-content: flex-end;
      position: relative;
    }

    .input-row input,
    .input-row select,
    .row input, 
    .row select {
      background: transparent;
      border: 1px solid #41464f;
      padding: 8px 30px 8px 8px;
      border-radius: 10px;
      color: white;
      transition: color 0.2s;
      max-width: 40%;
      box-sizing: border-box;
    }

    .row input, 
    .row select {
      padding: 12px 30px 12px 12px;
      font-size: 16px;
    }

    .input-row input:focus,
    .input-row select:focus,
    .row input,
    .row select {
      outline: none;
      background-color: black;
      color: var(--highlight-color);
    }

    .input-row select,
    .row select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url('data:image/svg+xml;utf8,<svg fill="white" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5-5 5 5zM7 14l5 5 5-5z"/></svg>');
      background-repeat: no-repeat;
      background-position: right 8px center;
      background-size: 16px;
      padding-right: 32px;
    }

	.info-container {
		position: relative;
		left: -18px;
		top: -22px;
		display: inline-block;
		margin: 0px;
		width: 0px;
	}

    .info-icon {
      background-color: var(--highlight-color);
      color: black;
      border-radius: 50%;
      padding: 1px 4px;
      cursor: pointer;
      font-weight: bold;
      font-size: 10px;
      text-align: center;
      line-height: 1;
      display: inline-block;
    }

    .tooltip {
      visibility: hidden;
      background-color: #333;
      border-radius: 5px;
      padding: 4px 8px;
      position: absolute;
      z-index: 1;
      bottom: 100%; /* above the icon */
      left: 50%;
      transform: translateX(-78%);
      opacity: 0;
      transition: opacity 0.3s;
      /*white-space: nowrap;*/
      text-align: right;
      width: 300px;
    }

    .tooltip::after {
      content: "";
      position: absolute;
      top: 100%; /* bottom of tooltip */
      left: 80%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #333 transparent transparent transparent;
    }

    .info-container:hover .tooltip {
      visibility: visible;
      opacity: 1;
    }

    .clear-btn {
      position: absolute;
      right: 8px;
      background: transparent;
      border: none;
      color: white;
      cursor: pointer;
      font-size: 16px;
      padding: 0;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      user-select: none;
    }

    .save-button {
      background-color: var(--highlight-color);
      color: black;
      border: none;
      padding: 15px 30px;
      font-size: 16px;
      border-radius: 10px;
      font-weight: bold;
      cursor: pointer;
      margin-top: 30px;
      align-self: flex-start;
    }

    .save-button:hover {
      background-color: #f5c300;
    }

    .buttons .btn {
      background-color: black;
      border: 1px solid #999;
      color: #999;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 10px;
      font-weight: bold;
      cursor: pointer;
      margin-top: 10px;
      align-self: flex-start;
    }

    .buttons .btn:hover {
      border: 1px solid #f5c300;
      color: #f5c300;
    }

        .hidden {
            display: none;
        }

        .popup {
	    width: 100%;
        }

        .popup-content {
            width: 100%;
            text-align: left;
        }

        #popup .row {
            display: flex;
        }

    @media (max-width: 768px) {
      .sidebar {
        width: 80px;
        padding: 20px 5px;
      }

      .logo {
        font-size: 0;
      }

      .logo span {
        display: none;
      }

      .menu-item {
        justify-content: center;
        gap: 0;
      }

      .menu-item span {
        display: none;
      }

      .yellow-box {
        font-size: 0;
        padding: 10px;
      }

      .input-row {
        flex-direction: column;
        align-items: flex-start;
      }

      .input-container {
        width: 100%;
        justify-content: flex-start;
      }

      .input-row input,
      .input-row select {
        max-width: 100%;
      }
    }

